/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a:hover {
  @apply !text-white;
}

.shadow-template {
  --tw-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.button {
  @apply flex justify-center px-5 py-3 text-base font-medium text-center text-black bg-white rounded-lg hover:bg-indigo-600 hover:text-white shadow-template transition-all duration-100;
}

.form-control {
  @apply focus:ring-indigo-600 focus:border-indigo-600 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

.error-panel {
  background-color: rgb(238, 111, 72);
  color: white;
}

.mat-simple-snackbar-action {
  color: white;
}

table {
  @apply table-fixed border-collapse;
}

thead th:first-child {
  border-radius: 5px 0 0 0;
}

thead th:last-child {
  border-radius: 0 5px 0 0;
}

th {
  @apply font-medium;
}

thead {
  @apply bg-stone-50 border border-gray-200 border-solid rounded-lg text-gray-500;
}
tbody {
  @apply border border-gray-200 border-solid;
}

tr {
  @apply align-middle;
}

.scroll {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.scroll-style::-webkit-scrollbar-track {
  @apply bg-stone-50 rounded-md;
}

.scroll-style::-webkit-scrollbar {
  @apply w-[10px] rounded-md;
}

.scroll-style::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-md;
}

label {
  font-weight: 500;
  font-size: medium;
}

.form-control:focus {
  box-shadow: none;
}

.blue-snackbar {
  background: #111827;
  text-align: center;
}
