<div class="container flex flex-col p-2 gap-2">
  <h1 class="!m-0"> Select brand</h1>
  <select [(ngModel)]="selectedBrand" class="form-control" (change)="handleBrandChange()">
    <option *ngFor="let brand of brands" [ngValue]="brand">
      {{ brand.name }}
    </option>
  </select>
  <div *ngIf="selectedBrand">
    <div class="scroll scroll-style">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of models; let i = index">
            <td>{{ model.name }}</td>
            <td>
              <button type="submit" class="button" (click)="openUpdate(edit, model)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>
            <td>
              <button type="submit" class="button" (click)="openDelete(delete, model)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="button" (click)="openCreate(add)">
      Add new model
    </button>
  </div>
</div>

<ng-template #add let-modal>
  <div class="inline-flex modal-header !py-2 items-center">
    <h2 class="modal-title !m-0" id="modal-basic-title">Add new model</h2>
    <button type="button" class="button" aria-label="Close" (click)="modal.close()">X</button>
  </div>
  <div class="flex flex-col p-2 gap-2">
    <div class="form-group">
      <label>Model name</label>
      <input class="form-control" type="text" [(ngModel)]="modelToCreate.name" />
    </div>
    <label>Model years</label>
    <div *ngFor="
          let year of modelToCreate.years;
          let i = index;
          trackBy: trackYears
        " class="input-group">
      <input class="form-control" type="number" [(ngModel)]="modelToCreate.years[i]" />
      <button type="button" class="button" (click)="removeYear(modelToCreate, i)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="flex">
      <button type="button" class="button" (click)="addNewYear(modelToCreate)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="flex">
      <button type="button" class="button" (click)="create(modal)">
        Ok
      </button>
    </div>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="inline-flex modal-header !py-2 items-center">
    <h2 class="modal-title !m-0" id="modal-basic-title">Edit model</h2>
    <button type="button" class="button" aria-label="Close" (click)="modal.close()">X</button>
  </div>
  <div class="flex flex-col p-2 gap-2">
    <div class="form-group">
      <label>Model name</label>
      <input class="form-control" type="text" [(ngModel)]="modelToUpdate.name" />
    </div>

    <label>Model years</label>
    <div *ngFor="
          let year of modelToUpdate.years;
          let i = index;
          trackBy: trackYears
        " class="input-group">
      <input class="form-control" type="number" [(ngModel)]="modelToUpdate.years[i]" />
      <button type="button" class="button" (click)="removeYear(modelToUpdate, i)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="flex">
      <button type="button" class="button" (click)="addNewYear(modelToUpdate)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="flex">
      <button type="button" class="button" (click)="update(modal)">
        Ok
      </button>
    </div>
  </div>

</ng-template>

<ng-template #delete let-modal>
  <div class="inline-flex modal-header !py-2 items-center">
    <h2 class="modal-title !m-0" id="modal-basic-title">Delete model</h2>
    <button type="button" class="button" aria-label="Close" (click)="modal.close()">X</button>
  </div>
  <div class="flex flex-col p-2 gap-2">
    <h4 class="modal-title">
      Are you sure u want to delete {{ modelToDelete.name }}
    </h4>
    <div class="flex">
      <button type="button" class="button" (click)="deleteModel(modal)">
        Yes
      </button>
    </div>
  </div>
</ng-template>