<section class="h-full bg-gradient-to-t from-indigo-600 to-transparent">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-gray-900 text-white">
          <div class="card-body p-5 text-center">
            <div class="flex flex-col">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Please enter your username and password!
              </p>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="typeEmailX"
                  class="form-control form-control-lg"
                  [(ngModel)]="username"
                />
                <label class="form-label mt-1" for="typeEmailX">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  id="typePasswordX"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                />
                <label class="form-label mt-1" for="typePasswordX"
                  >Password</label
                >
              </div>

              <p class="">
                <a
                  role="button"
                  *ngIf="!forgot"
                  (click)="requestPasswordChange()"
                  class="text-gray-400"
                  >Forgot password?</a
                >
                <a role="button" *ngIf="forgot" class="text-white-50"
                  >Password recovery mail sent!</a
                >
              </p>

              <div class="flex justify-center mt-4">
                <button class="button" type="submit" (click)="login()">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
