<section class="h-full bg-gradient-to-t from-indigo-600 to-transparent">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-gray-900 text-white">
          <div class="card-body p-5 text-center">
            <div class="flex flex-col">
              <h2 class="fw-bold mb-2 text-uppercase">Change password</h2>

              <div class="form-outline form-white mb-4">
                <input
                  class="form-control"
                  name="passwordInput"
                  type="password"
                  required
                  minlength="8"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                  #passwordInput="ngModel"
                  [(ngModel)]="password"
                />
                <label class="form-label mt-1" for="typePasswordX"
                  >Password</label
                >
              </div>
              <div
                *ngIf="passwordInput.invalid"
                class="alert"
                style="color: red"
              >
                <div *ngIf="passwordInput.errors?.['required']">
                  *Password is required.
                </div>
                <div
                  *ngIf="passwordInput.errors?.['minlength'] || passwordInput.errors?.['pattern']"
                >
                  *Password must contain at least 8 characters, at least one
                  uppercase letter, one lowercase letter, one number and one
                  special character
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  class="form-control"
                  name="confirmedPasswordInput"
                  type="password"
                  required
                  minlength="8"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                  #confirmedPasswordInput="ngModel"
                  [(ngModel)]="confirmedPassword"
                />
                <label class="form-label mt-1" for="typePasswordX"
                  >Confirm password</label
                >
              </div>
              <div
                *ngIf="password !== confirmedPassword"
                class="alert"
                style="color: red"
              >
                Passwords do not match
              </div>
              <div class="flex justify-center mt-4">
                <button
                  class="button disabled:text-gray-400 disabled:hover:bg-white"
                  type="submit"
                  [disabled]="passwordInput.invalid || !passwordsMatch()"
                  (click)="changePassword()"
                >
                  Change password
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
